<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.WRITE_SMS"
        tools:ignore="SmsAndCallLogPolicy,SystemPermissionTypo" />
    <uses-permission
        android:name="android.permission.RECEIVE_MMS"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT"
        tools:ignore="FullScreenIntentPolicy" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG"
        tools:ignore="SmsAndCallLogPolicy" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.hardware.sensor.proximity" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />


    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        tools:node="remove" /> <!-- Granted by Composense but not needed -->


    <application
        android:name=".main.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuteSplash"
        tools:targetApi="31">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CuteSplash"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.APP_CONTACTS" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ContactPickerActivity"
            android:exported="true" />


        <provider
            android:name=".data.providers.ComposeFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name=".data.receivers.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".data.receivers.TestReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>


        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".data.services.QuickReplyService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <receiver android:name=".data.receivers.MessageReplyReceiver" />

        <activity
            android:name=".activities.CallActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.CuteConnect">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.services.CallService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_INCALL_SERVICE">

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <service
            android:name=".data.services.CuteCallScreeningService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service android:name="com.android.mms.transaction.TransactionService" />

        <receiver
            android:name="com.klinker.android.send_message.SentReceiver"
            android:taskAffinity="cinnamon.SMS_SENT" />

        <receiver
            android:name=".data.broadcasts.DeliveryReportsReceiver"
            android:exported="true" />

        <receiver
            android:name=".data.receivers.MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.klinker.android.send_message.DeliveredReceiver"
            android:taskAffinity="cinnamon.SMS_DELIVERED" />
        <!-- Your custom receiver which is child of com.klinker.android.send_message.MmsSentReceiver -->
        <receiver
            android:name=".data.receivers.CuteMmsSentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.klinker.android.messaging.MMS_SENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".data.receivers.CallReceiver" />

    </application>


</manifest>